<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <%-include('partials/_header.ejs') %>
   <h3> USER-ID: </h3> <h3>
   <h3><%= userID %></h3>
   <p><%= shortURL %></p>
   <p><%= longURL.longURL %></p>
   <!-- <pre><%= JSON.stringify(longURL, null, 2) %></pre> -->
  <form method="POST" action="/urls/<%=shortURL%>">
  <input id="longURL" type="text" name="longURL" placeholder="Update" style="width: 300px" value="<%=longURL.longURL%>"/>
  <button type="submit">Update!</button>
  </form>
</body>
</html>
