<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <%-include('partials/_header.ejs') %>
  <p><a href="/u/<%=shortURL%>"><%= shortURL %></a> <-- Try me out! </p>
  <p><%= longURL.longURL %></p>
  <form method="POST" action="/urls/<%=shortURL%>">
    <input id="longURL" type="text" name="longURL" placeholder="Update" style="width: 300px" value="<%=longURL.longURL%>"/>
    <button type="submit">Update!</button>
  </form>
</body>
</html>
